<div class="container">
    <div tabindex="0" class="posts">
        <microfrontends-demo-posts  [posts]="posts"></microfrontends-demo-posts>
    </div>
    <div tabindex="0"  class="posts">
        <microfrontends-demo-comments [comments]="comments"></microfrontends-demo-comments>
    </div>
    <div tabindex="0"  class="posts">
        <microfrontends-demo-todos [todos]="todos"></microfrontends-demo-todos>
    </div>
    <div tabindex="0"  class="posts">
        <microfrontends-demo-users [users]="users"></microfrontends-demo-users>

    </div>
</div>